<div id='pageformat'>
	<table class="table table-condensed">
		<thead>
			<tr><th><span class="glyphicon glyphicon glyphicon-th"></span><span> Max events/page</span></th></tr>
		</thead>
		<tbody id='pageformatTable'>
			<tr><td>
				<div class="btn-group btn-group-xs" id="maxEvents">
					<button type="button" class="btn btn-default">10</button>
					<button type="button" class="btn btn-default">50</button>
					<button type="button" class="btn btn-default">100</button>
					<button type="button" class="btn btn-default">200</button>
				</div>
			</td></tr>
			<tr><td>
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
			</td></tr>
		</tbody>
	</table>
</div>
<div id='usersTableCont'>
	<table class="table table-condensed" id='usersTable'>
		<thead>
			<tr><th><span class="glyphicon glyphicon-user"></span><span> Users</span></th></tr>
		</thead>
		<tbody id='userlogTable'>
		</tbody>
	</table>
</div>
<div >
	<!--<h5 id="WSLog">SmartEvents Log</h5>-->
	<table class="table table-condensed" id='eventlogTable'>
		<thead>
			<tr><th><span class="glyphicon glyphicon-list"></span><span> Events log</span></th></tr>
		</thead>
		<tbody id='logTable'>
		</tbody>
	</table>
</div>
