<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Smart Events</title>
    <link rel="stylesheet" href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap-theme.min.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap-multiselect.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("bootstrap-dropdown-checkbox.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("events.css") }}" type="text/css"/>

  </head>
  <body>
    {% include "loginheader.html" %}
    <div id="inbox" class="container">
			<div class="row">
				
					<div class="form-group form-signin">
						<h2 class="form-signin-heading">Please sign in</h2>
					<form action="/auth/login/" method="post" id="login_form">
						{% module xsrf_form_html() %}
					<fieldset>
						<label for="username">Username</label>
						<input class="text-input form-control input-group" placeholder="Username" id="username" name="username" type="text" value="" required="" autofocus="">
					</fieldset>
					
					<fieldset>
						<label for="password">Password</label>
						<input class="text-input form-control input-group" id="password" name="password" type="password" value="" placeholder="Password" required="">
						
					</fieldset>
					<label class="checkbox">
						<input type="checkbox" value="remember-me"> Remember me
					</label>
					<fieldset>
						<span class="errormessage"></span>
					</fieldset>

					<div id="form_btn">
						<!--<input id="signin-btn" class="btn btn-success" type="submit" value="Sign In" tabindex="3">-->
						<button id="signin-btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					</div>
					</form>
					</div>
				</div>
			
		</div>
	</div>
	
			
	    <div class="row">
			<div class="col-md-12 footer" id="footer">
				{% include "footer.html" %}
			</div>
		</div>	
    	
		</div>
	
   
    

    
    <script src="{{ static_url("jquery-2.1.1.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("bootstrap/js/bootstrap.min.js") }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ static_url("bootstrap-multiselect.js") }}></script>
    <script src="{{ static_url("bootstrap-dropdown-checkbox.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("events.js") }}" type="text/javascript"></script>
  </body>
</html>
